<section class="container cameras">
  <h1 class="title">
    Подключение услуг
  </h1>
  <div class="row">
    <div class="block block--table">
      <!-- <div class="row id-input">
        <div class="id">Введите id</div>
        <input type="text">
      </div> -->
      <table>
        <thead>
          <td>тип</td>
          <td>оплачено</td>
          <td>добавить</td>
          <td>цена за камеру</td>
          <td>Всего</td>
        </thead>
        <tbody>
          <tr>
            <td>Хранение</td>
            <td>{{userModel.cam_list.s}}</td>
            <td>
              <div class="counter">
                <button [disabled]="camList.s === 0"
                (click)="removeCamera('s')"
                class="button button--minus">–</button>
                <input [(ngModel)]="camList.s" type="number">
                <button (click)="addCamera('s')"
                class="button button--plus">+</button>
              </div>
            </td>
            <td>2500 Р</td>
            <td>
              <b>{{camList.s * 2500}} Р</b>
            </td>
          </tr>
          <tr>
            <td>Аналитика</td>
            <td>{{userModel.cam_list.a}}</td>
            <td>
              <div class="counter">
                <button [disabled]="camList.a === 0"
                (click)="removeCamera('a')"
                class="button button--minus">–</button>
                <input [(ngModel)]="camList.a" type="number">
                <button (click)="addCamera('a')"
                class="button button--plus">+</button>
              </div>
            </td>
            <td>4500 Р</td>
            <td>
              <b>{{camList.a * 4500}} Р</b>
            </td>
          </tr>
          <tr>
            <td>Полный анализ</td>
            <td>{{userModel.cam_list.f}}</td>
            <td>
              <div class="counter">
                <button [disabled]="camList.f === 0"
                  (click)="removeCamera('f')" 
                  class="button button--minus">–</button>
                <input [(ngModel)]="camList.f" type="number">
                <button (click)="addCamera('f')"
                  class="button button--plus">+</button>
              </div>
            </td>
            <td>7000 Р</td>
            <td>
              <b>{{camList.f * 7000}} Р</b>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="summary">
              <div class="summary__title">
                итого
              </div>
              <div class="summary__number">
                {{camList.s * 2500 + camList.a * 4500 + camList.f * 7000}} Р
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row row--right">
        <button [disabled]="(camList.f + camList.a + camList.s) === 0"
        (click)="saveCameras()"
        class="button button--full">пополнить счет</button>
      </div>
      <div class="row">
        <app-transactions [isSuperuser]='userModel.is_superuser'></app-transactions>
      </div>
    </div>
    <!-- <div class="block block--internet internet">
      <div class="internet__title">
        Нет подключения к интеренету?
      </div>
      <div class="internet__text">
        Подключить услуги вы можно на любом компьютере, с доступом в интернет.
        <br> 1. Скопируйте персональный ID
        <br>
        <div class="hash">59163130510</div>
        2. На компьюетере с доступом в интернет перейдите на страницу lk.oculars.net
        <br> 3. Введите персональный ID
        <br> 4. Выберите требуемые услуги
        <br> 5. Получите код активации после оплаты услуг
        <br> 6. Введите полученный код
      </div>
      <input type="text">
      <button class="button">Применить</button>
    </div> -->
  </div>
</section>