<header class="header">
  <div class="header__row">
    <img src="../../../../assets/img/header/logo.png" alt="">
    <div class="header__user">
      <img src="../../../../assets/img/header/user-placeholder.png" alt="">
      <div class="header__user__info">
        <div class="header__user__name">123</div>
        <div class="header__user__position">Охраник</div>
        <a [routerLink]="['/login']" class="header__user__logout">Выход</a>
      </div>
    </div>
  </div>
  <div class="header__row header__row--nav nav">
      <a [routerLink]="['/profile']" class="nav__item">Профиль</a>
      <a [routerLink]="['/lk']" class="nav__item">Личный кабинет</a>
      <a href="#" class="nav__item">Загрузить дистрибутив</a>
  </div>
</header>