<h2 class="transactions-title">
  История транзакций
</h2>
<table class="transactions">
  <thead>
    <tr>
      <td>
        ID транзакции
      </td>
      <td *ngIf="isSuperuser">
        ID Пользователя
      </td>
      <td>
        Статус
      </td>
      <td>
        Сумма
      </td>
    </tr>
  </thead>
  <tbody *ngIf="transactions">
    <tr *ngFor="let transaction of transactions">
      <td>
        {{transaction.id}}
      </td>
      <td *ngIf="isSuperuser">
        {{transaction.user_id}}
      </td>
      <td>
        {{transaction.status | transactionStatus}}
      </td>
      <td>
        {{transaction.sum / 100}}
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!transactions || !transactions.length">Транзакций нет, но вы держитесь</div>